
/*create a variable for my ackground color and color*/
:root{
    --background-color: white;
    --color: black;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--color);
    transition: background-color 0.4s, color 0.4s;
}

.app-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.4s, color 0.4s;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.tasks {
    margin: 10px;
    padding: 10px;
    width: 200px;
    transition: background-color 0.4s, color 0.4s;
}

.add-tasks {
    margin-top: 20px;
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding:10px;


}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}


input, input[type = "text"] {
    padding: 10px;
    margin-bottom: 15px;
    border: none; 
    /* Add a bottom border for a subtle separation */
    border-bottom: 1px solid #ddd; 
    border-radius: 5px;
    box-sizing: border-box;
    /* Adjust width to leave space for the button, from a YT tut */
    width: calc(100% - 80px); 
    background-color: var(--background-color);
    color: var(--color);
}

/* update placeholder to adjust to the transition */
::placeholder
{
    background-color: var(--background-color);
    color: var(--color);
}



button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    width: 80px;
    background-color: #3498db; 
    color: var(--color); 
    cursor: pointer;
}


input:focus {
    outline: none;
    border-bottom: 2px solid #3498db; 
}


input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.dark-mode {
    --background-color: #333;
    --color: #fff;
}

.dark-mode .tasks {
   --background-color: #444;
    --color: #fff;
}

